@model IEnumerable<DataLayer.Country>

@{
    ViewBag.Title = "Country";
}

<h2>Country</h2>

<p>
    
</p>
<table class="table" border="1">
    <tr>        
        <th>
           Select Country
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.EnglishName)
        </td>
        <td>
            @Html.ActionLink("Select", "GetCityname", new { id = item.ID })            


        </td>
    </tr>
}

</table>
